{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "zacholauson-shared",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "zacholauson/test_auto_deploy:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ]
}
